flows.json
[{"id":"449ac5cc.7a0abc","type":"tab","label":"MIscale","disabled":false,"info":""},{"id":"54855646.8cde28","type":"server-state-changed","z":"449ac5cc.7a0abc","name":"Weights","server":"a8c279c8.be8be8","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.ble_weight_5ccad34cd577","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"num","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":80,"wires":[["ce82deff.cb494"]]},{"id":"21841a17.717626","type":"api-call-service","z":"449ac5cc.7a0abc","name":"Notification","server":"a8c279c8.be8be8","version":5,"debugenabled":true,"domain":"notify","service":"mobile_app_lya_al00","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"weight\",\"message\":\"Whoes weight {{ payload }} kg ?\",\"data\":{\"actions\":[{\"action\":\"Alisa\",\"title\":\"Alisa\"},{\"action\":\"Eason\",\"title\":\"Eason\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":410,"y":60,"wires":[[]]},{"id":"7be24aa0.3bfe84","type":"server-events","z":"449ac5cc.7a0abc","name":"Réponse notification","server":"a8c279c8.be8be8","version":3,"exposeAsEntityConfig":"","eventType":"mobile_app_notification_action","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":110,"y":560,"wires":[["6a5e651d.7ac02c"]]},{"id":"6a5e651d.7ac02c","type":"switch","z":"449ac5cc.7a0abc","name":"","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"Walter","vt":"str"},{"t":"eq","v":"Liandy","vt":"str"},{"t":"eq","v":"Alisa","vt":"str"},{"t":"eq","v":"Eason","vt":"str"},{"t":"eq","v":"Noham","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":370,"y":560,"wires":[["8adcb35.40ec25","4e1d75ec.9ef92c"],["2f38895c.6535f6","22867545.4e654a"],["4ac5d546.51219c","c730db95.5511d8"],["9d0744e0.dd8b38","a7ffae54.6dcd2"],["74cce82a.7361d8","fd3f8b8f.91b938"]]},{"id":"ce82deff.cb494","type":"switch","z":"449ac5cc.7a0abc","name":"Poids 40 kg","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gte","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":80,"wires":[["21841a17.717626"],["46ea1914.b76bb8","989595d450a5e904"]]},{"id":"46ea1914.b76bb8","type":"api-call-service","z":"449ac5cc.7a0abc","name":"Notification","server":"a8c279c8.be8be8","version":5,"debugenabled":true,"domain":"notify","service":"mobile_app_lya_al00","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"weight\",\"message\":\"Whose weight {{ payload }} kg?\",\"data\":{\"actions\":[{\"action\":\"Walter\",\"title\":\"Walter\"},{\"action\":\"Liandy\",\"title\":\"Liandy\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":410,"y":120,"wires":[[]]},{"id":"8adcb35.40ec25","type":"api-render-template","z":"449ac5cc.7a0abc","name":"Poids balance","server":"a8c279c8.be8be8","version":0,"template":"{{ states('sensor.ble_weight_5ccad34cd577') | float }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":660,"y":260,"wires":[["396401e594ad4406"]]},{"id":"4e1d75ec.9ef92c","type":"api-render-template","z":"449ac5cc.7a0abc","name":"Impedance balance","server":"a8c279c8.be8be8","version":0,"template":"{{ states('sensor.ble_impedance_5ccad34cd577') | int }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":670,"y":320,"wires":[["09ce8cc8a5d9fd2f"]]},{"id":"22867545.4e654a","type":"api-render-template","z":"449ac5cc.7a0abc","name":"Impedance balance","server":"a8c279c8.be8be8","version":0,"template":"{{ states('sensor.ble_impedance_5ccad34cd577') | int }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":670,"y":440,"wires":[["63797cf215b3eb1c"]]},{"id":"2f38895c.6535f6","type":"api-render-template","z":"449ac5cc.7a0abc","name":"Poids balance","server":"a8c279c8.be8be8","version":0,"template":"{{ states('sensor.ble_weight_5ccad34cd577') | float }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":660,"y":380,"wires":[["fd8fe28e78021789"]]},{"id":"c730db95.5511d8","type":"api-render-template","z":"449ac5cc.7a0abc","name":"Impedance balance","server":"a8c279c8.be8be8","version":0,"template":"{{ states('sensor.ble_impedance_5ccad34cd577') | int }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":670,"y":560,"wires":[["09d5b97c333a9e7b"]]},{"id":"4ac5d546.51219c","type":"api-render-template","z":"449ac5cc.7a0abc","name":"Poids balance","server":"a8c279c8.be8be8","version":0,"template":"{{ states('sensor.ble_weight_5ccad34cd577') | float }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":660,"y":500,"wires":[["38778c7ddcc7b70d"]]},{"id":"a7ffae54.6dcd2","type":"api-render-template","z":"449ac5cc.7a0abc","name":"Impedance balance","server":"a8c279c8.be8be8","version":0,"template":"{{ states('sensor.ble_impedance_5ccad34cd577') | int }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":670,"y":680,"wires":[["402d13d2448b6b70"]]},{"id":"9d0744e0.dd8b38","type":"api-render-template","z":"449ac5cc.7a0abc","name":"Poids balance","server":"a8c279c8.be8be8","version":0,"template":"{{ states('sensor.ble_weight_5ccad34cd577') | float }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":660,"y":620,"wires":[["7a01ae23eb5e1aa0"]]},{"id":"fd3f8b8f.91b938","type":"api-render-template","z":"449ac5cc.7a0abc","name":"Impedance balance","server":"a8c279c8.be8be8","version":0,"template":"{{ states('sensor.ble_impedance_5ccad34cd577') | int }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":670,"y":800,"wires":[["1b3d064859ef7684"]]},{"id":"74cce82a.7361d8","type":"api-render-template","z":"449ac5cc.7a0abc","name":"Poids balance","server":"a8c279c8.be8be8","version":0,"template":"{{ states('sensor.ble_weight_5ccad34cd577') | float }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":660,"y":740,"wires":[["4ee1034b64f9df10"]]},{"id":"989595d450a5e904","type":"api-call-service","z":"449ac5cc.7a0abc","name":"Notification","server":"a8c279c8.be8be8","version":5,"debugenabled":true,"domain":"notify","service":"mobile_app_jingwangs_iphone","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"weight\",\"message\":\"Whose weight {{ payload }} kg?\",\"data\":{\"actions\":[{\"action\":\"Walter\",\"title\":\"Walter\"},{\"action\":\"Liandy\",\"title\":\"Liandy\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":410,"y":180,"wires":[[]]},{"id":"7a01ae23eb5e1aa0","type":"ha-sensor","z":"449ac5cc.7a0abc","name":"Poids Eason","entityConfig":"e0f48aa8.4ebc68","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":870,"y":620,"wires":[[]]},{"id":"4ee1034b64f9df10","type":"ha-sensor","z":"449ac5cc.7a0abc","name":"Poids Noham","entityConfig":"d0fe40dd.aa4ad","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":880,"y":740,"wires":[[]]},{"id":"38778c7ddcc7b70d","type":"ha-sensor","z":"449ac5cc.7a0abc","name":"Poids Alisa","entityConfig":"d40dcb04.d1d6a8","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":870,"y":500,"wires":[[]]},{"id":"fd8fe28e78021789","type":"ha-sensor","z":"449ac5cc.7a0abc","name":"Poids Liandy","entityConfig":"fd8f72be.6c546","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":870,"y":380,"wires":[[]]},{"id":"396401e594ad4406","type":"ha-sensor","z":"449ac5cc.7a0abc","name":"Poids Walter","entityConfig":"d784d1fc.3574a","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":850,"y":260,"wires":[[]]},{"id":"63797cf215b3eb1c","type":"ha-sensor","z":"449ac5cc.7a0abc","name":"Impedance Liandy","entityConfig":"645c197d.376198","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":890,"y":440,"wires":[[]]},{"id":"09d5b97c333a9e7b","type":"ha-sensor","z":"449ac5cc.7a0abc","name":"Impedance Alisa","entityConfig":"5be0f792.71a698","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":880,"y":560,"wires":[[]]},{"id":"09ce8cc8a5d9fd2f","type":"ha-sensor","z":"449ac5cc.7a0abc","name":"Impedance Walter","entityConfig":"a6f7df44.e392","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":890,"y":320,"wires":[[]]},{"id":"402d13d2448b6b70","type":"ha-sensor","z":"449ac5cc.7a0abc","name":"Impedance Eason","entityConfig":"445a7773.55e788","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":890,"y":680,"wires":[[]]},{"id":"1b3d064859ef7684","type":"ha-sensor","z":"449ac5cc.7a0abc","name":"Impedance Noham","entityConfig":"ea3bee11.4232d","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":890,"y":800,"wires":[[]]},{"id":"a8c279c8.be8be8","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"e0f48aa8.4ebc68","type":"ha-entity-config","server":"a8c279c8.be8be8","deviceConfig":"","name":"sensor config for Poids Eason","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Weight Eason"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:weight-kilogram"},{"property":"unit_of_measurement","value":"kg"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"resend":true},{"id":"d0fe40dd.aa4ad","type":"ha-entity-config","server":"a8c279c8.be8be8","deviceConfig":"","name":"sensor config for Poids Noham","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Weight Noham"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:weight-kilogram"},{"property":"unit_of_measurement","value":"kg"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"resend":true},{"id":"d40dcb04.d1d6a8","type":"ha-entity-config","server":"a8c279c8.be8be8","deviceConfig":"","name":"sensor config for Poids Alisa","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Weight Alisa"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:weight-kilogram"},{"property":"unit_of_measurement","value":"kg"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"resend":true},{"id":"fd8f72be.6c546","type":"ha-entity-config","server":"a8c279c8.be8be8","deviceConfig":"","name":"sensor config for Poids Liandy","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Weight Liandy"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:weight-kilogram"},{"property":"unit_of_measurement","value":"kg"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"resend":true},{"id":"d784d1fc.3574a","type":"ha-entity-config","server":"a8c279c8.be8be8","deviceConfig":"","name":"sensor config for Poids Walter","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Weight Walter"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:weight-kilogram"},{"property":"unit_of_measurement","value":"kg"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"resend":true},{"id":"645c197d.376198","type":"ha-entity-config","server":"a8c279c8.be8be8","deviceConfig":"","name":"sensor config for Impedance Liandy","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Impedance Liandy"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:omega"},{"property":"unit_of_measurement","value":"ohm"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"resend":true},{"id":"5be0f792.71a698","type":"ha-entity-config","server":"a8c279c8.be8be8","deviceConfig":"","name":"sensor config for Impedance Alisa","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Impedance Alisa"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:omega"},{"property":"unit_of_measurement","value":"ohm"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"resend":true},{"id":"a6f7df44.e392","type":"ha-entity-config","server":"a8c279c8.be8be8","deviceConfig":"","name":"sensor config for Impedance Walter","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Impedance Walter"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:omega"},{"property":"unit_of_measurement","value":"ohm"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"resend":true},{"id":"445a7773.55e788","type":"ha-entity-config","server":"a8c279c8.be8be8","deviceConfig":"","name":"sensor config for Impedance Eason","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Impedance Eason"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:omega"},{"property":"unit_of_measurement","value":"ohm"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"resend":true},{"id":"ea3bee11.4232d","type":"ha-entity-config","server":"a8c279c8.be8be8","deviceConfig":"","name":"sensor config for Impedance Noham","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Impedance Noham"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:omega"},{"property":"unit_of_measurement","value":"ohm"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"resend":true}]
